<ng-container *ngIf="{products: products$ | async, selected: selected$ | async} as obs">
  <div 
    *ngIf="selectedId;"
    class="fixed top-0 bottom-0 left-0 right-0 bg-slate-600/70 flex flex-col justify-center">
      <div class="mx-auto">
        <app-product-card 
          [item]="obs.selected" 
          [actions]="[{label: 'close', button: { color: 'accent'}}]"
          (action)="deselect()">
        </app-product-card>      
      </div>
  </div>
  <div *ngIf="obs.products" class="flex flex-wrap gap-4">
    <div
      class="cursor-pointer" 
      (click)="select(item.id)"
      *ngFor="let item of obs.products">
      <app-product-list-item [item]="item"></app-product-list-item>
    </div>
  </div>
</ng-container>

<ng-template #not_found>
  <app-error-message title="Not Found">
    <p>
      Could not located requested product (<code class="inline-block">id: {{selectedId ?? 'n/a'}}</code>)
    </p>
  </app-error-message>
</ng-template>
