<h1 class="flex items-center gap-2 mt-1 mb-8">
  <app-back-link [linkTo]="['/series']"></app-back-link>
  <span>Series Detail</span>
</h1>
<ng-container *ngIf="item">
  <div class="flex items-center gap-4">
    <app-series-card [item]="item" display="mini"></app-series-card>
    <div>
      <h1 class="mb-0">{{item.title}}</h1>
      <p class="text-xl leading-tight">{{item.snippet}}</p>
    </div>
  </div>
  <div class="my-4 py-4 border-t-2 border-t-neutral-100">
    <p class="my-2" *ngFor="let line of item.description">
      {{line}}
    </p>
  </div>
  <div class="my-4" *ngIf="item.pages.length">
    <h3>Examples</h3>
    <div class="my-2" *ngFor="let page of item.pages">
      <a [routerLink]="['examples', page.id]" 
        class="text-accent-600 hover:text-accent-800
          border-b-2 border-b-accent-100 hover:border-b-amber-800
          transition-colors">
        {{page.title}}
      </a>
    </div>
  </div>

</ng-container>
