<ng-container *ngIf="item">
  <div class="card-base-neutral w-64">
    <div class="card-image">
      <img 
      class="aspect-square w-full"
      [src]="item.image" 
      [alt]="'photo of ' + item.name" />
    </div>
    <div class="card-content">
      <h2>{{item.name}}</h2>
      <div class="flex flex-col">
        <div class="text-neutral-500 text-lg">{{item.description}}</div>
        <div class="text-neutral-800 text">category: {{item.category}}</div>
        <div class="text-accent-800">price: {{item.price}}</div>
      </div>
    </div>
    <div class="card-actions flex flex-wrap justify-end items-center gap-4" *ngIf="actions.length > 0">
      <button 
        *ngFor="let item of actions"
        [appButton]="item.button.type"
        [color]="item.button.color"
        (click)="handleAction(item)">{{item.label}}</button>
    </div>
  </div>
</ng-container>
