<div class="bg-primary-800 text-primary-50 py-2 shadow-lg mb-2">
  <div class="section flex items-center gap-4">
    <a [routerLink]="['/home']" class="inline-flex items-center gap-2">
      <img 
        src="./assets/state-management.png" 
        alt="State Management Icon" 
        class="aspect-square w-8 brightness-200 rounded-md"/>
      <span>State Management Store</span>
    </a>
    <span class="flex-1"></span>
    <a [routerLink]="['/series']" routerLinkActive="router-link-active">Series</a> 
  </div>
</div>